html {
  box-sizing: border-box;
}

*,*::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

fieldset {
  border: none;
}

ul {
  list-style: none;
}

legend {
  text-decoration: underline;
}

.container {
  border: 2px solid black;
  margin: 0;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:  "header header header"
                        "sidebar resource-wrapper resource-wrapper"
                        "footer footer footer";
}

.filter-wrapper {
  width: 95%;
  margin: 1em auto;
}

.footer {
  grid-area: footer;
  height: 5rem;
  width: 100%;
  background-color: lightcoral;
}

.header {
  grid-area: header;
  width: 100%;
  background-color: whitesmoke;
  grid-template-rows: auto;
}

.header-content-wrapper {
  background-color: whitesmoke;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif; 
}

.design-div {
  min-height: 280px;
  background-color:#31a4dd  ;
}

.main-link {
  text-decoration: none;
  
  color: black;
} 
.main-link:hover,
  .main-link:focus {
    text-decoration: none;
    color: #ff8a00;
    transition: 0.2s;
    outline: none;
  }

  .main-link:visited{
    text-decoration: none;
  }

.upload-form-main {
  font-family: 'Mukta', sans-serif;

}
.upload-form-wrapper {
  max-width: 50%;
  height: 100%;
  padding: 10px;
  background-color:#31a4dd ;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}



.resource-content-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  font-family: 'Montserrat', sans-serif;
}

.resource-list-item {
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  transition: 0.2s;
  text-decoration: none;
}
.resource-list-item :hover,.resource-list-item:focus { 
background-color: #E8E8E8;
    outline: none;

}
.resource-wrapper {
  grid-area: resource-wrapper;
  width: 100%;
  background-color: lightblue;
}

.resource-content-wrapper {
  display: grid;
  border-radius: 5px;
  border: solid black 0px;
  /* margin: 1rem auto; */
  width: 95%;
  background-color: 	#F5F5F5;
}

.resource-header {
 margin-top: 1.5em;
 margin-left: 1.5em;
  
}

.resource-body {
  margin-top: 1.5em;
  margin-left: 1.5em;
   
 }

 .resource-title {
  margin-top: 1.5em;
  margin-left: 1.5em;
  
   
 }

 .resource-footer {
  margin-top: 1.5em;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
   
 }

.search-resources {
  display: flex;
  align-items: center;
  gap: .7rem;
}

.filter {
  grid-area: sidebar;
  height: auto;
  width: 100%;
  background-color: lightyellow;
}

